* {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

#canvas {
    z-index: 1;
}

#hud {
    z-index: 2;
}

body {
    overflow: hidden;
    margin: 0;
    background-color: #dab883;
    display: flex;
    height: 100vh;
}

#canvas,
#hud {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    touch-action: none;
    display: flex;
}

.play-button {
    width: 94%;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 18px 30px 18px 30px;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #64ff5a;
    border: none;
}

.play-button:hover {
    background-color: #26c11b;
}

.play-button:focus {
    outline: 0;
}

#gameFact,
.loading-connecting {
    letter-spacing: 5px;
    text-shadow: -1px 1px 2px #000, -1px -1px 2px #000, 1px 1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000, -2px -2px 2px #000, 2px 2px 2px #000, 2px -2px 2px #000
}

#connecting,
#disconnected,
#highscores,
#reconnectButtonContainer {
    z-index: 4
}

#changelogContainer,#highScoresList,#hiscoresHeading {
    text-shadow: -1px 1px 2px #383838,-1px -1px 2px #383838,1px 1px 2px #383838,1px -1px 2px #383838,-2px 2px 2px #383838,-2px -2px 2px #383838,2px 2px 2px #383838,2px -2px 2px #383838
}

#p,
.close,
.input,
.loading-connecting,
.modal-btn {
    font-weight: 700
}

:not(input) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #c3c3c3
}

#loading {
    z-index: 5
}

.loading-connecting {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0f0f5;
    background-color: #58585a;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    cursor: default;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    -webkit-animation: loading-fade 2s infinite;
    -moz-animation: loading-fade 2s infinite;
    -o-animation: loading-fade 2s infinite;
    -ms-animation: loading-fade 2s infinite;
    animation: loading-fade 2s infinite
}

#reconnectButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #58585a;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 10px;
}

#reconnectButton {
    display: flex;
    padding: 6px 24px 6px 24px;
    font-size: 28px;
    border-radius: 8px;
    border: none;
    margin-top: 100px;
}

#reconnectButton:hover {
    cursor: pointer;
    background-color: #9b9b9b;
}

#disconnected {
    margin-top: -40px;
}



@-webkit-keyframes loading-fade {

    0%,
    100% {
        color: #a4a8a5
    }

    25% {
        color: #ed5555
    }

    50% {
        color: #3cd157
    }

    75% {
        color: #5697ff
    }
}

@-moz-keyframes loading-fade {

    0%,
    100% {
        color: #a4a8a5
    }

    25% {
        color: #ed5555
    }

    50% {
        color: #3cd157
    }

    75% {
        color: #5697ff
    }
}

@-o-keyframes loading-fade {

    0%,
    100% {
        color: #a4a8a5
    }

    25% {
        color: #ed5555
    }

    50% {
        color: #3cd157
    }

    75% {
        color: #5697ff
    }
}

@-ms-keyframes loading-fade {

    0%,
    100% {
        color: #a4a8a5
    }

    25% {
        color: #ed5555
    }

    50% {
        color: #3cd157
    }

    75% {
        color: #5697ff
    }
}

@keyframes loading-fade {

    0%,
    100% {
        color: #a4a8a5
    }

    25% {
        color: #ed5555
    }

    50% {
        color: #3cd157
    }

    75% {
        color: #5697ff
    }
}

.game-menu-container {
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.menu-segment {
    margin: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

.auth-button-row {
    display: flex;
    justify-content: space-between;
}

.authBtn {
    display: flex;
    font-size: 18px;
    border-radius: 4px;
    padding: 8px 40px 8px 40px;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    margin: 0px 5px 0px 5px;
}

.authBtn:focus {
    outline: 0;
}

.authBtn:hover {
    background-color: #9a9a9a
}

.game-title {
    margin: 0px;
    color: #f0f0f5;
    font-size: 81px;
    text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000, 5px 5px 0 #000;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-middle {
    display: flex;
    flex-direction: column;
}

.enter-game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
}

#logo {
    margin-top: 20px;
}

#gameFact {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.server-selection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.menu-title-big {
    color: #fff;
    font-size: 24px;
    margin: 0px 0px 5px 0px;
}

.menu-title-medium {
    color: #fff;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.server-selector-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.server-selector {
    width: 94%;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align-last: center;
}

.server-selector:focus {
    outline: 0;
}

.info-scroller {
    width: 300px;
    height: 250px;
    padding: 10px;
    overflow-y: auto;
}

.changelog-text, .changelog-text a {
    color: #fff;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    margin: 0px 0px 15px 0px;
}

::-webkit-scrollbar {
    box-shadow: inset 0 0 5px grey;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.wide-ad-unit {
    display: flex;
    justify-content: center;
}

#a-left {
    display: flex;
    align-items: center;
    width: 300px;
    height: 250px;
    padding: 10px;
}

#a-bottom {
    display: flex;
    align-items: center;
    width: 970px;
    height: 250px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.0);
}

.respawn-ad-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    align-items: flex-end;
    justify-content: center;
}

#a-bottom-respawn {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.0);
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px;
    color: #FFF;
}

#infoFooter {
    left: 0;
    border-radius: 0 15px 0 0
}

#socialFooter {
    right: 0;
    border-radius: 15px 0 0
}

#infoFooter a,#socialFooter a {
    font-family: Orbitron;
    font-weight: 900;
    font-size: 18px;
    color: #FFF;
    padding: 2px 7px;
    cursor: pointer;
    text-decoration: none
}

#infoFooter a:hover,#socialFooter a:hover {
    color: #e3e3e3;
    text-decoration: underline
}

.modal-btn {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    background-color: #64ff5a;
    outline: 0;
    padding: 20px;
}

.modal-btn:focus {
    outline: 0;
}

.modal-btn:hover {
    background-color: #26c11b;
}

#infoFooter,
#socialFooter {
    bottom: 0;
    padding: 6px;
    background-color: #3a3a3a;
    color: #FFF;
    z-index: 5;
    position: fixed
}

#p:hover {
    background-color: #26c11b
}

#highscores {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    font-family: Orbitron;
    font-weight: 900;
}

#highScoresList,#hiscoresHeading {
    text-align: center;
    color: #FFF;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 22px
}

#highScoresList {
    list-style-type: none;
    font-size: 16px;
    text-align: center;
    color: #FFF
}

#highScoresList li {
    margin-top: 5px
}

.featured-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 50%;
    align-self: flex-start;
    top: 0;
    position: fixed;
    margin: 10px 0px 0px 10px;
}

#featuredGameThumbnail {
    border-radius: 5px;
    width: 12vw;
    height: 7vw;
    border: 3px #444 solid;
}

#featuredGameThumbnail:hover {
    border-radius: 5px;
    width: 12vw;
    height: 7vw;
    margin-left: -1px;
    margin-top: -1px;
    border: 4px #444 solid;
    cursor: pointer;
}

.modal {
    display: none;
    width: 100%;
    position: fixed;
    padding-top: 120px;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7)
}

.modal-content,
.modal-header {
    background-color: #919191;
}

.modal-content {
    position: relative;
    margin: auto;
    padding-bottom: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 380px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1), 0 12px 20px 0 rgba(0, 0, 0, 1);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s
}

.errorMessage {
    margin-top: 5px
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    padding-top: 8px
}

#authLabel,
.input {
    font-size: 16px;
}

.modal-body,
.modal-header {
    padding: 2px 10px
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.modal-header {
    text-align: center;
    color: #000;
    border: none;
    font-size: 22px;
    border-radius: 5px
}

.modal-header h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {
    width: 94%;
    height: 100%;
    padding: 8px;
    color: #4A4A4A;
    border-radius: 4px;
    border: none;
}

.input:focus {
    outline: 0;
}

.input-group {
    margin-bottom: 10px
}

.error,
.errorMessage {
    background-color: #f2dede
}

#authLabel {
    width: 100%;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

#rememberMe {
    margin-bottom: 20px
}

.errorMessage {
    width: 96%;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px
}

.error {
    border: 1px solid #a94442
}

a.link {
    color: #000;
    text-decoration: underline;
}

a:hover .link {
    text-decoration: underline;
    cursor: pointer
}

.grecaptcha-badge {
    visibility: hidden;
}

#slashCommandContainer {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 178px;
    color: #e3e3e3;
    background-color: rgb(46, 46, 46);
    border: 2px solid #58585a;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    font-size: 23px;
    text-align: center;
}

#chatboxContainer {
    position: fixed;
    display: flex;
    width: 22%;
    height: 100%;
    margin-left: 39%;
    margin-right: 39%;
    z-index: 3;
}

#chatbox {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 135px;
    border: 2px solid #58585a;
    padding: 5px;
    font-size: 23px;
    border-radius: 5px;
    text-align: center;
}

#chatbox:focus {
    outline: 0;
}

@media(max-width:1000px) {
    .wide-ad-unit {
        transform: scale(0.7);
    }

    #a-bottom-respawn {
        transform: scale(0.7);
    }

    .menu-segment.info-scroller {
        display: none;
    }
}

@media(max-height:700px) {
    #a-bottom.wide-ad-unit {
        display: none;
    }
}